
{{> head }}
{{> nav }}

<main class="container">
  <div class="row">
    <div class="col-8 mx-auto my-3">
      <h1 class="display-1 text-center">Agenda</h1>
      <p class="text-center lead">
        Edit and add new contacts to your Agenda
      </p>
      {{> messages }}
      {{#if (arrayContains contacts)}}
      <div class="responsive-table mt-5">

        <table class="table my-2">
          <tr>
            <td>Name</td>
            <td>Surname</td>
            <td>Phone</td>
            <td>E-mail</td>
          </tr>

          {{#each contacts }}

          <tr>
            <td>{{this.name}}</td>
            <td>{{this.surname}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.email}}</td>
            <td><a href='/contact/index/{{this._id}}'>Edit</a></td>
            <td class="text-danger"><a href='/contact/delete/{{this._id}}' class="text-danger">Delete</a></td>
          </tr>

          {{/each}}
        </table>
      </div

      {{else}}
          <p class="text-center lead">There's no contacts in your Agenda</p>
      {{/ if}}

    </div>
  </div>
</main>

{{> footer }}
